.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 33px;
  list-style: circle;
  line-height: 100%;
}
.header__links-list-item_no-bullit {
  list-style: none;
}
.header__menu-link,
.address__link {
  text-underline-offset: 4px;
}
.header__link_active {
  text-decoration: none;
}

.header__logo {
  width: 140px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  line-height: 24.3px;
}
.header__address {
  max-width: 240px;
  justify-self: end;
}

.cover {
  position: relative;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;

  color: white;
}
.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
  z-index: 0;
}
.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-transform: uppercase;
  font-size: 100px;
  letter-spacing: 30px;
  line-height: 115px;
  padding: 165px 20px 0 50px;
  margin-bottom: 106px;
}

.aligned-text_left {
  text-align: left;
}
.aligned-text_center {
  text-align: center;
}
.aligned-text_right {
  text-align: right;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 50px;
}
.cover__description-text {
  font-size: 22px;
  word-spacing: 18px;
  line-height: 28px;
  text-transform: uppercase;
}

.bet-button {
  width: 256px;
  height: 51px;
  text-transform: uppercase;
  font-size: 22px;
  color: white;
  background: transparent;
  border: 1px solid white;
}
.bet-button:hover {
  cursor: pointer;
  color: black;
  background-color: white;
  transition: background-color 0.5s ease;
}
.lots {
  padding: 180px 24px 118px;
}
.lots__heading {
  text-transform: uppercase;
  font-size: 40px;
  margin: 0 0 27px 40px;
}
.lots__card-list {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  list-style: none;
}

.card {
  position: relative;
  width: 334px;
  min-height: 596px;
  background-position: center;
  background-size: cover;
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  color: white;
  font-size: 20px;
}
.card__title {
  text-transform: uppercase;
  font-size: 22px;
}
.lots__look-more-link {
  display: block;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  margin: 30px 0 0 40px;
  font-size: 20px;
}
.lots__look-more-link:hover {
  color: tomato;
  transition: color 0.5s ease;
}
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  padding: 35px 24px 180px;
  justify-items: center;
  gap: 25px;
}
.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__logo-image {
  width: 148px;
  height: 114px;
}
.about__title {
  text-transform: uppercase;
  font-size: 40px;
  margin: 102px 0 100px 0;
}
.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  padding-right: 5px;
}
