.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 33px;
  list-style: circle;
  line-height: 100%;
}
.header__links-list-item_no-bullit {
  list-style: none;
}
.header__menu-link,
.address__link {
  text-underline-offset: 4px;
}
.header__link_active {
  text-decoration: none;
}

.header__logo {
  width: 140px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  line-height: 24.3px;
}
.header__address {
  max-width: 240px;
  justify-self: end;
}
